.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .overlap-wrapper {
  background-color: #ffffff;
  width: 446px;
  height: 900px;
}

.frame .overlap {
  position: relative;
  width: 433px;
  height: 883px;
  top: 12px;
  left: 6px;
}

.frame .rectangle {
  position: absolute;
  width: 390px;
  height: 844px;
  top: 19px;
  left: 21px;
  background-color: #ffffff;
  border-radius: 48px;
}

.frame .time {
  position: absolute;
  width: 54px;
  top: 39px;
  left: 57px;
  font-family: "Cairo", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22px;
}

.frame .battery {
  position: absolute;
  width: 27px;
  height: 13px;
  top: 44px;
  left: 347px;
}

.frame .overlap-group {
  position: absolute;
  width: 25px;
  height: 13px;
  top: 0;
  left: 0;
  border-radius: 4.3px;
}

.frame .border {
  position: absolute;
  width: 25px;
  height: 13px;
  top: 0;
  left: 0;
  background-color: #000000;
  border-radius: 4.3px;
  border: 1px solid;
  border-color: #ffffff;
  opacity: 0.35;
}

.frame .capacity {
  position: absolute;
  width: 21px;
  height: 9px;
  top: 2px;
  left: 2px;
  background-color: #000000;
  border-radius: 2.5px;
}

.frame .cap {
  position: absolute;
  width: 1px;
  height: 4px;
  top: 5px;
  left: 26px;
}

.frame .wifi {
  position: absolute;
  width: 17px;
  height: 12px;
  top: 45px;
  left: 323px;
}

.frame .cellular-connection {
  position: absolute;
  width: 19px;
  height: 12px;
  top: 45px;
  left: 296px;
}

.frame .home-indicator {
  position: absolute;
  width: 142px;
  height: 7px;
  top: 848px;
  left: 145px;
  background-color: #000000;
  border-radius: 100px;
}

.frame .whatsapp-image {
  position: absolute;
  width: 372px;
  height: 378px;
  top: 105px;
  left: 30px;
  border-radius: 5%; 
  object-fit: cover;
}


.frame .div {
  position: absolute;
  width: 328px;
  height: 90px;
  top: 521px;
  left: 52px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #ffffff;
  background: linear-gradient(180deg, rgb(180, 14, 109) 0%, rgb(66, 12, 100) 100%);
}

.frame .rectangle-2 {
  position: absolute;
  width: 328px;
  height: 89px;
  top: 625px;
  left: 52px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgb(180, 14, 109) 0%, rgb(66, 12, 100) 100%);
}

.frame .rectangle-3 {
  position: absolute;
  width: 328px;
  height: 90px;
  top: 728px;
  left: 52px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgb(180, 14, 109) 0%, rgb(66, 12, 100) 100%);
}

.frame .button {
  position: absolute;
  width: 274px;
  height: 41px;
  top: 545px;
  left: 75px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
      }

      
  
        /* Ensure the buttons appear in the intended area */
        .button-container {
          position: relative;
          z-index: 1; /* Ensure buttons are on top of overlapping elements */
        }

.frame .button2 {
  position: absolute;
  width: 360px;
  height: 41px;
  top: 751px;
  left: 33px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .button3 {
  position: absolute;
  width: 287px;
  height: 39px;
  top: 649px;
  left: 68px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .iphone-pro {
  position: absolute;
  width: 433px;
  height: 883px;
  top: 0;
  left: 0;
}

.frame .space-black {
  position: absolute;
  width: 434px;
  height: 882px;
  top: 0;
  left: 0;
  object-fit: cover;
}
